@model IEnumerable<KarateTournamentManeger.Data.Models.Tournament>

@{
    ViewData["Title"] = "Tournaments";
}

<h1>All Tournaments</h1>

<a class="btn btn-primary" asp-action="CreateTournament" asp-controller="Admin" role="button">
    Add Tournament
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Location</th>
            <th>Description</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td>@tournament.Location</td>
                <td>@tournament.Description</td>
                <td>@tournament.Date.ToShortDateString()</td>
                <td>@tournament.Status</td>
                <td>
                    <a class="btn btn-info" asp-controller="Admin" asp-action="TournamentDetails" asp-route-id="@tournament.Id">Details</a>

                    <form asp-controller="Admin" asp-action="DeleteTournament" method="post" style="display:inline;" onsubmit="return confirm('Сигурни ли сте, че искате да изтриете този турнир?');">
                        <input type="hidden" name="id" value="@tournament.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
