@model IEnumerable<TournamentViewModel>

@{
    ViewData["Title"] = "Tournaments";
}

<h1>Всички турнири</h1>

<a class="btn btn-primary" asp-action="CreateTournament" asp-controller="Admin" role="button">
    Добави турнир
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Локация</th>
            <th>Информация</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Записани участници</th>
            <th>Екшън</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td>@tournament.Location</td>
                <td>@tournament.Description</td>
                <td>@tournament.Date.ToShortDateString()</td>
                <td>
                    <p>
                        @if (tournament.Status.ToString() == "Ongoing")
                        {
                            <strong class="blinking-dot"></strong>
                        }
                        @tournament.Status
                    </p>
                </td>
                <td>@tournament.EnrolledParticipantsCount</td>
                <td>
                    <a class="btn btn-info" asp-controller="Admin" asp-action="TournamentDetails" asp-route-id="@tournament.Id">Детайли</a>

                    <form asp-controller="Admin" asp-action="DeleteTournament" method="post" style="display:inline;" onsubmit="return confirm('Сигурни ли сте, че искате да изтриете този турнир?');">
                        <input type="hidden" name="id" value="@tournament.Id" />
                        <button type="submit" class="btn btn-danger">Изтриване</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
