@model TournamentViewModel

<h2>Детайли за турнир: @Model.Location</h2>

<div class="card">
    <div class="card-header">
        <strong>Информация за турнира</strong>
    </div>
    <div class="card-body">
        <p><strong>Описание:</strong> @Model.Description</p>
        <p><strong>Дата:</strong> @Model.Date.ToString("dd/MM/yyyy")</p>
        <p>
            <strong>Статус:</strong>
            @if (Model.Status.ToString() == "Ongoing")
            {
                <strong class="blinking-dot"></strong>
            }
            @Model.Status
        </p>

        <p><strong>Брой татамита:</strong> @Model.Tatami.Count</p>

        <p><strong>Записани участници:</strong> @Model.EnrolledParticipantsCount</p>
    </div>
</div>
<h3>Татамита</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Номер на татами</td>
            <td>Таймер мениджър</td>
            <td>Действия</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @Model.Tatami.Count; i++)
        {
            var tatami = @Model.Tatami[i];

            <tr>
                <td>@tatami.Number</td>
                <td>
                    <button class="btn btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                        @if (@tatami.TimerManager != null)
                        {
                            var firstName = @tatami.TimerManager.FirstName;
                            var lastName = @tatami.TimerManager.LastName;
                            var interpolatedString = $"{firstName} {lastName}";

                            @interpolatedString;
                        }
                        else
                        {
                            @:Избери
                        }
                    </button>
                    <ul class="dropdown-menu">
                        @if (@tatami.TimerManagerId != null)
                        {
                            <li>
                                <form method="post" asp-action="RemoveTatamiTimerManager">
                                    <input type="hidden" name="TatamiId" value="@Model.Tatami[i].Id" />
                                    <input type="hidden" name="TatamiNumber" value="@Model.Tatami[i].Number" />
                                    <input type="hidden" name="tournamentId" value="@Model.Id" />
                                    <button class="dropdown-item" type="submit">Премахни</button>
                                </form>
                            </li>
                        }
                        @if (Model.TimerManagers.Count == 0)
                        {
                            <li>
                                <form method="get" asp-controller="Admin" asp-action="ManageUsers">
                                    <button class="dropdown-item" type="submit">- Няма свободни таймер мениджъри</button>
                                </form>
                            </li>
                        }
                        @foreach (var timerManager in Model.TimerManagers)
                        {
                            <li>
                                <form method="post" asp-action="UpdateTatamiTimerManager">
                                    <input type="hidden" name="TatamiId" value="@Model.Tatami[i].Id" />
                                    <input type="hidden" name="TatamiNumber" value="@Model.Tatami[i].Number" />
                                    <input type="hidden" name="SelectedTimerManagerId" value="@timerManager.Id" />
                                    <input type="hidden" name="tournamentId" value="@Model.Id" />
                                    <button class="dropdown-item" type="submit">@timerManager.FirstName @timerManager.LastName</button>
                                </form>
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    @if (@Model.Tatami[i].Number != 1 && @Model.Tatami[i].Number == @Model.Tatami.Count)
                    {
                        <form asp-controller="Admin" asp-action="RemoveTatami" method="post" style="display:inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="tournamentId" value="@Model.Id" />
                            <input type="hidden" name="tatamiId" value="@tatami.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Премахни</button>
                        </form>
                    }
                    @if (@Model.Tatami[i].Number == @Model.Tatami.Count)
                    {
                        <form asp-controller="Admin" asp-action="AddTatami" method="post" style="display:inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="tournamentId" value="@Model.Id" />
                            <button type="submit" class="btn btn-success btn-sm">Добави татами</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.Status.ToString() == "Upcoming")
{
    <h3>Участници</h3>
    @if (Model.EnrolledParticipants.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Име</th>
                    <th>Emails</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.EnrolledParticipants.Count; i++)
                {
                    var participant = Model.EnrolledParticipants[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@participant.Name</td>
                        <td>@participant.Email</td>
                        <td>
                            <form asp-controller="Admin" asp-action="RemoveParticipant" method="post" style="display:inline;">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="tournamentId" value="@Model.Id" />
                                <input type="hidden" name="participantId" value="@participant.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">Премахни</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Няма записани участници за този турнир.</p>
    }
}

<h3>Етапи</h3>
@if (Model.Stages.Count > 0)
{
    <ul>
        @foreach (var stage in Model.Stages)
        {
            <div class="card mt-3">
                <div class="card-header">
                    <strong>@stage.Name</strong>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Участник 1</th>
                                <th>Участник 2</th>
                                <th>Резултат</th>
                                <th>Татами</th>
                                <th>Статус</th>
                                <th>Победител</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var match in stage.Matches)
                            {
                                var tatami = Model.Tatami;

                                <tr>
                                    <td>@match.Participant1Name</td>
                                    <td>@match.Participant2Name</td>
                                    <td>@match.Participant1Score : @match.Participant2Score</td>
                                    <td>

                                        <button class="btn btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                            @(match.Tatami > 0 ? match.Tatami.ToString() : "Избери")
                                        </button>
                                        <ul class="dropdown-menu">
                                            @for (int i = 0; i < tatami.Count; i++)
                                            {
                                                <li>
                                                    <form method="post" asp-action="UpdateTatamiForMatch">
                                                        <input type="hidden" name="matchId" value="@match.Id" />
                                                        <input type="hidden" name="tatamiNumber" value="@tatami[i].Number" />
                                                        <input type="hidden" name="tournamentId" value="@Model.Id" />
                                                        <button class="dropdown-item" type="submit">@tatami[i].Number</button>
                                                    </form>
                                                </li>

                                            }
                                        </ul>
                                    </td>
                                    <td>@match.Status</td>
                                    <td>@(match.WinnerName)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </ul>
}
else
{
    <p>Няма етапи за този турнир.</p>
}

<div>
    <input type="hidden" name="tournamentId" value="@Model.Id" />
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Tournaments" role="button">
        Всички турнири
    </a>

    @if (Model.Status.ToString() == "Upcoming" & Model.EnrolledParticipantsCount > 1)
    {
        <form asp-action="FinalizeEnrollment" asp-controller="Admin" method="post" style="display:inline;" onsubmit="return confirm('Записването ще бъде прекратено, ще бъдат генерирани етапите на турнира и ще бъдат разпределени на случаен принцпи участниците.');">
            <input type="hidden" name="tournamentId" value="@Model.Id" />
            <button type="submit" class="btn btn-success">Стартирай турнира</button>
        </form>
    }
</div>
