@using KarateTournamentManager.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<KarateTournamentManager.Models.TournamentViewModel>

@{
    var currentUser = await UserManager.GetUserAsync(User);
    var isAdmin = currentUser != null && await UserManager.IsInRoleAsync(currentUser, "Administrator");
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Локация</th>
            <th>Информация</th>
            <th>Дата</th>
            <th>Статус</th>
            @if (User.IsInRole("Administrator") || User.IsInRole("Participant") || User.IsInRole("TimerManager"))
            {
                <th>Записани участници</th>
                <th>Действия</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td>@tournament.Location</td>
                <td>@tournament.Description</td>
                <td>@tournament.Date.ToString("dd/MM/yyyy")</td>
                <td>
                    <p>
                        @if (tournament.Status.ToString() == "Ongoing")
                        {
                            <strong class="blinking-dot"></strong>
                        }
                        @tournament.Status
                    </p>
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>@tournament.EnrolledParticipantsCount</td>
                    <td>
                        @if (User.IsInRole("Participant"))
                        {
                            if (!tournament.IsParticipant)
                            {
                                <form method="post" action="@Url.Action("RegisterForTournament", "Participant")">
                                    <input type="hidden" name="tournamentId" value="@tournament.Id" />
                                    <button type="submit" class="btn btn-primary">Записване</button>
                                </form>
                            }
                            else
                            {
                                <span>Записани сте за турнира!</span>
                            }
                        }

                        else if (User.IsInRole("Administrator"))
                        {
                            <a class="btn btn-warning" asp-controller="Admin" asp-action="TournamentDetails" asp-route-id="@tournament.Id">Управление</a>

                        }
                        else if (User.IsInRole("TimerManager"))
                        {
                            <a class="btn btn-warning" asp-controller="Manager" asp-action="ManageTournament" asp-route-id="@tournament.Id">Управление</a>

                        }

                    </td>
                }

            </tr>
        }
    </tbody>
</table>
